html,body,ul,li,div,span,img{margin:0;padding:0;list-style: none; vertical-align: middle;}
.container{ width: 1000px; margin:0 auto; padding-top: 15px; }
.slider{overflow: hidden;position: relative;}
.slider_inr{width: 5000px;}
.slider_inr li{ float: left;display: inline; }
ul.slider_inr:after{ display: table;content: '';clear: both; overflow: hidden; }
.slider_page{position: absolute; bottom: 1%; text-align: center; width: 100%;}
.slider_page span{cursor: pointer;display: inline-block;width: 12px;height: 12px; background-color: #fff; border-radius: 15px; margin: 0 5px; text-indent: -15em;overflow: hidden;}
.slider_page span.active{background-color: #333;}
/*triangle icon*/
.slderCtrl{display:none;cursor:pointer;width: 30px; height: 60px; position:absolute; overflow: hidden;}
.icon_right{display:inline-block;width: 0;height: 0;border-width:30px 0 30px 30px;border-style: solid;border-color:transparent  transparent transparent #fff; opacity: .65;}
.icon_left{display:inline-block;width: 0;height: 0;border-width:30px 30px 30px 0px;border-style: solid;border-color:transparent #fff  transparent transparent; opacity: .65;}
.prev{ left: 15px;top:50%;margin-top: -30px; }
.next{ right: 15px;top:50%;margin-top: -30px; }